
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding:  4px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.body{
padding:20px;
margin: 10px;


}
</style>
</head>
<body>

<br><hr>


<div id="values" class="container-fluid py-2" >
    <center>
          <div class="row col-11">
              <div class="col-sm-6 col-xs-12">
                  <div class="container-fluid px-0">
                    <img class="first" src="https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=637&q=80">
                    <br><br>
                    <img class="first" src="https://images.unsplash.com/photo-1580691746056-4badd831b86e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=389&q=80">
                    <br><br>
                    <img class="first" src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
                     <br><br>
                    <img class="first" src="https://images.unsplash.com/photo-1516542076529-1ea3854896f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
                  </div>    
              </div>
            <div class="col-sm-6 col-xs-12">
                <div class="container-fluid rounded bg-light text-justify py-3">
                    
                         <div class="container-fluid" id="vision">
                  

                                <p style="font-size: 16px !important; text-align: justify;">
                                      
                                      
                                          <ul>
                                            <h2 class="header text-center"> COMPUTER?</h2>
ಕಂಪ್ಯೂಟರ್ (ಗಣಕ, ಗಣಕಯಂತ್ರ) ಎನ್ನುವುದು ದತ್ತಾಂಶದ (ಡೇಟಾ) ಸಂಸ್ಕರಣೆ ಹಾಗೂ ಸಂಗ್ರಹಣೆಯನ್ನು ಸುಲಭವಾಗಿಸುವ ವಿದ್ಯುನ್ಮಾನ ಸಾಧನ. ಗಣಿತದ ಲೆಕ್ಕಾಚಾರಗಳು ಹಾಗೂ ತಾರ್ಕಿಕ ಚಟುವಟಿಕೆಗಳನ್ನು ನಡೆಸುವ ಮೂಲಕ ದತ್ತಾಂಶವನ್ನು ಸಂಸ್ಕರಿಸುವುದು ಹಾಗೂ ಆ ಮೂಲಕ ದೊರಕುವ ಮಾಹಿತಿಯನ್ನು ನಂತರದ ಬಳಕೆಗಾಗಿ ಉಳಿಸಿಡಲು ಸಾಧ್ಯವಾಗಿಸುವುದು ಕಂಪ್ಯೂಟರಿನ ವೈಶಿಷ್ಟ್ಯ.


ಕಂಪ್ಯೂಟರ್ ಒಳರವಾನೆ ಸಂಸ್ಕರಣೆ ಹಾಗೂ ಹೊರರವಾನೆ ಸಾಧನಗಳನ್ನು ಹೊಂದಿದ್ದು ಒಳರವಾನೆ ಸಾಧನಗಳ ಮೂಲಕ ನೀಡಿದಂತಹ ಮಾಹಿತಿಯನ್ನು ಸಂಸ್ಕರಿಸಿ ಹೊರರವಾನೆ ಸಾಧನಗಳ ಮೂಲಕ ಉಪಯೋಗಿಸಿ(ಯೂಜರ್)ಗೆ ನೀಡುವುದಲ್ಲದೇ ಮಾಹಿತಿ ಮತ್ತು ದತ್ತಾಂಶಗಳನ್ನು ಶೇಖರಿಸಿಡಬಹುದಾದ ಸಾಧನವಾಗಿರುತ್ತದೆ.

ಅಲ್ಲದೇ ಶೇಖರಿಸಿಟ್ಟ ಅಥವಾ ನಾವು ನೀಡಿದಂತಹಾ ಮಾಹಿತಿಯನ್ನು ಒಂದು ಗಣಕಯಂತ್ರ ದಿಂದ ಮತ್ತೊಂದು ಗಣಕಯಂತ್ರಕ್ಕೆ ಸಂಪರ್ಕಜಾಲದ ಮೂಲಕ ನಮ್ಮ ಆದೇಶದ ಮೇರೆಗೆ ರವಾನಿಸುತ್ತದೆ. ಇಂದು ಬಹುತೇಕ ಕ್ಷೇತ್ರಗಳಲ್ಲಿ ಕಂಪ್ಯೂಟರ್‌‌ನ್ನು ಬಳಸುತ್ತಾರೆ.

ಕಂಪ್ಯೂಟರಿಗೆ ಉಳಿಸಲಾದ ದತ್ತಾಂಶವನ್ನು ನಿರ್ದಿಷ್ಟ ಹೆಜ್ಜೆಗಳಲ್ಲಿ ಸಂಸ್ಕರಿಸಲಾಗುತ್ತದೆ. ಬಳಕೆದಾರರ ಅಯ್ಕೆಗೆ ಅನುಗುಣವಾಗಿ ಇಂತಹ ನಿರ್ದೇಶನಗಳನ್ನು ನೀಡುವುದು ತಂತ್ರಾಂಶದ (ಸಾಫ್ಟ್‌ವೇರ್) ಕೆಲಸ. ಬಳಕೆದಾರ ಕಂಪ್ಯೂಟರನ್ನು ಬಳಸಲು ನೆರವಾಗುವುದು.

ದತ್ತಾಂಶ ಸಂಸ್ಕರಣೆಯಲ್ಲಿ ತಂತ್ರಾಂಶ ನೀಡುವ ನಿರ್ದೇಶನಗಳನ್ನು ಪಾಲಿಸುವುದೆಲ್ಲ ಯಂತ್ರಾಂಶದ (ಹಾರ್ಡ್‌ವೇರ್) ಜವಾಬ್ದಾರಿ. ಕಂಪ್ಯೂಟರ್‌ನಲ್ಲಿ ದ್ವಿಮಾನ ಪದ್ಧತಿಯ (ಬೈನರಿ ಪದ್ಧತಿ) ಯಂತ್ರ ಭಾಷೆಯನ್ನು ಬಳಸಲಾಗಿದ್ದು, ಅದು ನಾವು ನೀಡುವ ಎಲ್ಲ ಮಾಹಿತಿಗಳನ್ನು, ಅಂದರೆ ಅಕ್ಷರಗಳು, ಅಂಕೆಗಳು, ಚಿತ್ರಗಳು, ವಿರಾಮ ಚಿಹ್ನೆಗಳು ಹಾಗೂ ಖಾಲಿ ಸ್ಥಾನ, ದ್ವಿಮಾನ ಪದ್ಧತಿಯಲ್ಲಿ ಸ್ವೀಕರಿಸಿ ಅರ್ಥೈಸಿಕೊಳ್ಳುತ್ತದೆ.


ಸಾಮಾನ್ಯವಾಗಿ ಬಳಕೆಯಲ್ಲಿರುವ ಬಹಳಷ್ಟು ಕಂಪ್ಯೂಟರುಗಳು ಈ ವಿಧದವು. ಡೆಸ್ಕ್‌ಟಾಪ್, ಲ್ಯಾಪ್‌ಟಾಪ್ ಹಾಗೂ ಟ್ಯಾಬ್ಲೆಟ್ ಕಂಪ್ಯೂಟರುಗಳೆಲ್ಲ ಇದಕ್ಕೆ ಉದಾಹರಣೆಗಳು. ಇಂದಿನ ಸ್ಮಾರ್ಟ್‌ ಫೋನುಗಳನ್ನೂ ಇದೇ ಗುಂಪಿಗೆ ಸೇರಿಸಬಹುದು. ಪರ್ಸನಲ್ ಕಂಪ್ಯೂಟರುಗಳನ್ನು ಮೈಕ್ರೋಕಂಪ್ಯೂಟರ್ ಎಂದು ಗುರುತಿಸುವ ಅಭ್ಯಾಸವೂ ಇತ್ತು.

ಹೆಚ್ಚು ಸಾಮರ್ಥ್ಯದ, ವಿಶೇಷ ಯಂತ್ರಾಂಶಗಳನ್ನು ಹೊಂದಿದ್ದ ಶಕ್ತಿಶಾಲಿ ಕಂಪ್ಯೂಟರುಗಳನ್ನು 'ವರ್ಕ್‍‌ಸ್ಟೇಶನ್'ಗಳೆಂದು ಗುರುತಿಸಲಾಗುತ್ತಿತ್ತು. ತಂತ್ರಜ್ಞಾನ ಬೆಳೆದಂತೆ ಪರ್ಸನಲ್ ಕಂಪ್ಯೂಟರು ಗಳಲ್ಲೇ ಹೆಚ್ಚಿನ ಸೌಲಭ್ಯಗಳು ದೊರಕುವಂತಾಗಿ ಪಿಸಿಗಳಿಗೂ ವರ್ಕ್‌ಸ್ಟೇಶನ್‌ಗಳಿಗೂ ನಡುವಿನ ವ್ಯತ್ಯಾಸ ಮಸುಕಾಗಿದೆ.


ಕಂಪ್ಯೂಟರ್‌ನಿಂದ ಸಾಮಾನ್ಯ ಬಳಕೆದಾರನಿಗೆ ಅನೇಕ ಉಪಯೋಗಗಳಿವೆ. ಅವುಗಳು ಯಾವುವೆಂದು ಇಲ್ಲಿ ನೋಡೋಣ: ಕಂಪ್ಯೂಟರ್‌ನಲ್ಲಿ ದಾಖಲೆಗಳನ್ನು, ಮಾಹಿತಿಗಳನ್ನು, ಚಿತ್ರಗಳನ್ನು, ಇ-ಬುಕ್‌ಗಳನ್ನು, ಹಾಡುಗಳನ್ನು, ಚಲನಚಿತ್ರಗಳನ್ನು ಶೇಖರಿಸಿ ಇಡಬಹುದು.

ವಿದ್ಯಾರ್ಥಿಗಳು, ಸಂಶೋಧಕರು ಪ್ರೊಜೆಕ್ಟ್ ಸಿದ್ಧಗೊಳಿಸಲು, ಅಧ್ಯಯನ ಮಾಡಲು ಕಂಪ್ಯೂಟರ್‌ ಅಪ್ಲಿಕೇಶನ್‍ಗಳನ್ನು ಬಳಸಿಕೊಳ್ಳಬಹುದು. ಎಂಎಸ್ ವರ್ಡ್‌ನಂತಹ ಅಪ್ಲಿಕೇಶನ್‌ಗಳಲ್ಲಿ ಬರೆಯುವುದು, ತಿದ್ದುವುದು, ಹೊಂದಿಸುವುದು ಅತ್ಯಂತ ಸುಲಭವಾಗಿದ್ದು, ಕೈಬರಹಕ್ಕಿಂತ ಇದು ಅದು ಅತ್ಯಂತ ಸುಲಭ ಮತ್ತು ವೇಗದ್ದಾಗಿರುತ್ತದೆ.

ಕಠಿಣವಾದ ಲೆಕ್ಕಗಳನ್ನು ಕಂಪ್ಯೂಟರ್ ಬಳಸಿ ಮಾಡುವುದು ಅತ್ಯಂತ ಸುಲಭವಾಗುತ್ತದೆ. ಕಲಿಕೆಯ ದೃಷ್ಟಿಯಿಂದ ಕಂಪ್ಯೂಟರ್ ಬಳಕೆ ಅತ್ಯಂತ ಪ್ರಯೋಜನಕಾರಿ. ಕಂಪ್ಯೂಟರ್‌ನಲ್ಲಿ ವೀಡಿಯೋ ಗೇಮ್ ಆಡುವುದು ಅತ್ಯಂತ ಮನರಂಜನೀಯವಾಗಿರುತ್ತದೆ. ಹೊಸ ಹೊಸ ಆಟಗಳನ್ನು ಕಂಪ್ಯೂಟರ್‌ನಲ್ಲಿ ಸ್ಥಾಪಿಸಿಕೊಂಡು ಆಡಬಹುದು.

ಅಂತರಜಾಲವನ್ನು ಬಳಸಿ ಅಗತ್ಯ ಮಾಹಿತಿಗಳನ್ನು ಹುಡುಕಬಹುದು ಮತ್ತು ಅಂತರಜಾಲದಿಂದ ಪಡೆದ ಮಾಹಿತಿಗಳನ್ನು ಕಂಪ್ಯೂಟರ್ ಹಾರ್ಡ್ ಡ್ರೈವ್‌ಗಳಲ್ಲಿ ಶೇಖರಿಸಿ ಇಡಬಹುದು. ಇಮೇಲ್ ಮಾಡಲು, ಸಾಮಾಜಿಕ ಸಂವಹನ ನಡೆಸಲು ಬಳಸಬಹುದಾಗಿದೆ.

ಕಂಪ್ಯೂಟರ್‌ನಲ್ಲಿ ಬರೆದದ್ದನ್ನು, ಇಂಟರ್ನೆಟ್‌ನಿಂದ ಡೌನ್‌‍ಲೋಡ್ ಮಾಡಿದ್ದನ್ನು ಬಾಹ್ಯ ಹಾರ್ಡ್‌ಡಿಸ್ಕ್‌ಗಳಾದ ಸಿಡಿ, ಡಿವಿಡಿ, ಪೆನ್‌ಡ್ರೈವ್ ಮುಂತಾದವುಗಳ ಮುಖಾಂತರ ಇತರರೊಂದಿಗೆ ಹಂಚಿಕೊಳ್ಳುವುದು ಅಥವಾ ಬೇರೊಂದು ಕಂಪ್ಯೂಟರ್‌ಗೆ ವರ್ಗಾಯಿಸುವುದು ಎಲ್ಲವೂ ಸುಲಭ.

ಒಮ್ಮೆ ಕಂಪ್ಯೂಟರ್ ಮತ್ತು ಅಂತರಜಾಲದ ಬಳಕೆಯ ಜಗತ್ತಿಗೆ ತೆರೆದುಕೊಂಡರೆ, ಅದು ಅಸಂಖ್ಯ ಸಾಧ್ಯತೆಗಳನ್ನು ಒದಗಿಸುತ್ತದೆ, ಮತ್ತು ಕಲಿಕೆ ಅತ್ಯಂತ ಆಸಕ್ತಿದಾಯಕ ಮತ್ತು ಆನಂದದಾಯಕವಾದದ್ದಾಗಿರುತ್ತದೆ.

ಕಂಪ್ಯೂಟರ್ ಬಳಕೆಯನ್ನು ಕನಿಷ್ಟ ಶಿಕ್ಷಣವಿರುವವರಿಗೂ ಕಲಿಯಲು ಸುಲಭವಾಗುವಂತೆ ರೂಪಿಸುವಲ್ಲಿ ನೂರಾರು ಇಂಜಿನಿಯರುಗಳ ಪಾತ್ರ ದೊಡ್ಡದಿದೆ. ಆಸಕ್ತಿಯಿಂದ ಕಲಿಯುವವರಿಗೆ ಕಂಪ್ಯೂಟರ್ ಬಳಕೆ ನಿಜಕ್ಕೂ ಅತ್ಯಂತ ಸುಲಭವಿದೆ.

Read more on Brainly.in - https://brainly.in/question/4730415#readmore                                                                   
          
                    </div>

                  </div>
            </div>              
          </div>      
    </center>      
  </div>


  
</div>
</div>
</body>
</html>
{% include 'layout.html' %}