{% include 'navbar.html' %}
{% include 'includes/_navbar.html' %}
{% block body %}


<div class="col-sm-4 col-xs-12" style="text-align: justify;">
      <h4><b>ABOUT US</b></h4>
      <p>As you finish the first draft of your essay, it's a good idea to have a second set of eyes look at it. Our editors will edit your essay for word choice, sentence structure, tone, and clarity, and they will make suggestions on organization and structure. We'll provide helpful comments to let you know where you can improve your arguments and strengthen your paper, and we'll also fix typos and spelling and grammar errors.
This is the expert essay editing support you can't get from your friends or your busy instructor. Best of all, you can learn from the edit because you'll be able to see all the changes that have been made, which will help make you a better writer.</p>

      <span></span><a href="register">Register and Login to publish your essays</a>
    </div>

	</p>
	<h3><i>LOADING.....</i></h3>
</div>
{% endblock %}
