{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	
	@media (min-width: 320px) and (max-width: 480px)
	{
       .first
       {
       	 width: 315px !important;
       }

	}

  #first
  {
  	width:730px;
  	 height: 300px;
  }
   #second
  {
  	width:730px;
  	 height: 300px;
  }

</style>
</head>
<body>
<br><br>
<div id="values" class="container-fluid bg-grey" >
<h4><b><center>IS ENGLISH YOUR SECOND LANGUAGE?</center></b></h4><br>
<div class="container-fluid text-justify box" style="width:60%; line-height: 35px;" >
							<div class="cotainer">
                                    <div class="border-top mt-3 mb-3"></div>
                                </div>

<div class="container-fluid" style="text-align: justify; font-size: 18px;">
      <img src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="300" width="730" id="first">
     	 <p>A personal essay is a broad essay that often incorporates a variety of writing styles. Most personal essay assignments ask writers to write about an important person, event or time period in their life. The goal is to narrate this event or situation in a way that the reader can fully experience and understand. This type of writing generally incorporates both narrative and descriptive writing, which are two of the main modes of writing. Here are some tips on making a personal essay more effective:
			Focus on detail. The writer’s job is to show, not tell, what happened. Be sure to use plenty of detail to make this happen and avoid overrelying on adjectives.   </p>



      	<p>Strong verbs are often better. Don’t tell the reader that the sunset was breathtaking, describe it. 
			Incorporate sensory detail. When describing a particular event, most writers focus on how a place or situation appeared. This is because most of us tend to be sight dominant when using senses. However, the reader can be brought further into the essay by incorporating a variety of senses: sound, smell, touch and taste, in addition to sight. Connect the event/person/place to a larger idea. As you describe this event, person, place, etc., don’t lose focus on the main idea: how the event changed you. This is the thesis of your personal essay, and it is important that you demonstrate how the details come together to create this thesis.  </p>

<img src="https://images.unsplash.com/photo-1515787366009-7cbdd2dc587b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" height="300" width="730" id="second" >

      	<p> Don’t get so caught up in narrating the actual event that you forget to also go into detail on the importance of it. 
		Be careful with verb tense. As you shift from the event itself, which occurred in the past, and how it has continued to impact your life, be sure to use the appropriate verb tense and keep it consistent. Some writers will describe a past event in present tense, hoping to make the reader feel more involved. This can be done, but doing it well involves great writing skill. No matter what, be sure to keep the verb tense consistent. When in doubt, stick with past tense for the actual event and present tense to discuss the change. </p>


		<h5>For editing services by professionals, please refer to <a href="/service"><b>Services</b></a> page.</h5>


					<p><i>Helpful resources where to learn how to write a strong and proper personal essays</i></p>
					<a href="https://www.wikihow.com/Write-a-Personal-Essay " target="_blank">Wiki How</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="https://www.profellow.com/tips/5-ways-to-improve-your-personal-essay-writing/" target="_blank">ProFellow</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="https://kingessays.com/personal-essay.php" target="_blank">KingEssays</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="https://www.grammarly.com/blog/personal-essay/" target="_blank">Grammarly Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="https://www.topuniversities.com/blog/10-tips-writing-personal-statement-university-applications" target="_blank">Top Universities</a>&nbsp;&nbsp;&nbsp;&nbsp;
</div>

</div>
</div>

</body>
</html>



{% endblock %}