
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding:  4px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.body{
padding:20px;
margin: 10px;


}
</style>
</head>
<body>

<br><br><br><br>

<h2><center>Meet Our Team</center></h2>
<h3 style="padding: 20px; text-align:justify;">We are a group of dedicated people who are eager to learn and convey our knowledge to others too.</h3>
<br>

<div class="container">
<div class="row">
  <div class="column">
    <div class="card ">
      <center>
      <img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/47098762_2226287241018445_2646298714510983168_n.jpg?_nc_cat=106&_nc_sid=85a577&_nc_ohc=gNQCnVh2JHAAX-VcSdv&_nc_ht=scontent-bom1-1.xx&oh=64f4d9f386614cccf2f89dc24d4f76f6&oe=5EBC50FE" alt="yasa" style="width:60%; margin-top:10px;border-radius: 50%;">
      </center>
      <div class="container">
        <h2>Reza Sharifi</h2>
        <p class="title">Editor-in Chief</p>
        <p>He has found this website to provide people the best essay editing platform.</p>
        <p>+91 9148045348 </p>
        <p>rezasharifi@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <center>
      <img src="https://scontent-bom1-1.xx.fbcdn.net/v/t31.0-8/p960x960/11144956_1732878336933468_2587491564228491280_o.jpg?_nc_cat=105&_nc_sid=daf655&_nc_ohc=qXQcuz-y2F0AX90rIqK&_nc_ht=scontent-bom1-1.xx&_nc_tp=6&oh=e87b8d48c8291724b357b21f81d89554&oe=5EBB7A9A" alt="Mike" style="width:60%; margin-top:10px;border-radius: 50%;">
    </center>
      <div class="container">
        <h2>Ali Reza Yasa</h2>
        <p class="title">EDITOR</p>
        <p>Master's in Arts, American University of Central Asia</p>
        <p>PHD in Arts, University of California</p>
        <p>alirezayasa@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <center>
      <img src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-9/13900314_10154243870884471_7501835714454883420_n.jpg?_nc_cat=105&_nc_ht=scontent-bom1-2.xx&oh=5fba5126f8afde0e5d560aa73ed1240c&oe=5CF209FE" alt="Mike" style="width:60%; margin-top:10px;border-radius: 50%;">
    </center>
      <div class="container">
        <h2>Kara Lozier</h2>
        <p class="title">FREELANCE EDITOR</p>
        <p>Master's in Arts, American University of Central Asia</p>
        <p>PHD in Arts, University of Chicago</p>
        <p>karalozier@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>




  <div class="column">
    <div class="card">
      <center>
      <img src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-9/17022341_1534880489886180_7981687968303656303_n.jpg?_nc_cat=104&_nc_ht=scontent-bom1-2.xx&oh=d3d5aa641da19664d3d081eff5af7a00&oe=5CF1536D" alt="Mike" style="width:60%; margin-top:10px;border-radius: 100%;">
    </center>
      <div class="container">
        <h2>Hussain Yousofi</h2>
        <p class="title">FREELANCE EDITOR</p>
        <p>Bachelors's in Education Policy, American University of Kinya</p>
        <p>Master's in Arts, American University of Kinya</p>
        <p>hussain@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


<div class="column">
    <div class="card">
      <center>
      <img src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-9/25995026_10215057402859534_3445171750161281861_n.jpg?_nc_cat=106&_nc_ht=scontent-bom1-2.xx&oh=eb53ba6f0a452464038700bd6bfa2683&oe=5CE99649" alt="Mike" style="width:60%; margin-top:10px;border-radius: 50%;">
    </center>
      <div class="container">
        <h2>Nancy Antle</h2>
        <p class="title">FREELANCE EDITOR</p>
        <p>Bachelor's in English Litrature, Harvard Univeristy</p>
        <p>Master's in Arts, Michigan University</p>
        <p>nancy@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <center>
      <img src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-9/20708332_1491792350864406_6399509238719113514_n.jpg?_nc_cat=102&_nc_ht=scontent-bom1-2.xx&oh=213b3c6b049471aaf46e5129448c2213&oe=5CF089B8" alt="Mike" style="width:60%; margin-top:10px;border-radius: 50%;">
    </center>
      <div class="container">
        <h2>Nasrullah </h2>
        <p class="title">FREELANCE EDITOR</p>
        <p>Bachelors's in English Litrature, South Asian Univeristy, Delhi</p>
        <p>Master's in Arts, University of South Virginia</p>
        <p>nasrullah2@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  
</div>
</div>
</body>
</html>
{% include 'layout.html' %}